body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #202020;
}

#page
{
	margin-top: 10px;
	margin-bottom: 5px;
	background: #F0F0F0;
	border: 1px solid #333333;
	border-bottom-right-radius:5px; 
	border-bottom-left-radius:5px; 
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #333333;
}

#portada {
	width: 100%;
}

#principal {
	float:right;
}

#menu-left {
	width: 140px;
	text-align:center;
}	

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	background-image:url(fondopie.png);
	background-repeat:repeat-x;
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #333333;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

/*Menu principal*/
#mainmenu
{
	background-image:url(logo_1.png), url(fondo.png);
    background-position:left, right;
	background-color:#F0F0F0;
	background-repeat: no-repeat, repeat-x;
	height:100px;
}

#mainmenu ul
{
	padding:10px 0px 0px 0px;
	margin-left:120px;
	list-style: none; 
	position: relative;
	height: 32px;
}

#mainmenu ul li
{
	display: block; 
	height: 26px; 
	float: left; 
	overflow: visible;
	font-size:20px;
	font-weight:bold;
}

#mainmenu ul li a
{
	color:#F0F0F0;
	background-color:transparent;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 15px;
	float: left; 
	display: block;
}

#mainmenu ul li ul li a
{
	color:#F0F0F0;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
	float: left; 
	display: block;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #F0F0F0;
	text-decoration:none;
	background-color:#B81D18;
	border-top-right-radius:5px; 
	border-top-left-radius:5px; 
}

#mainmenu ul li:hover > ul 
{ 
	display: block; 
}

#mainmenu ul li ul 
{ 
	display: none; 
	position: absolute; 
	top: 100%; 
	background: linear-gradient(#b91817, #981914);
	border-bottom-right-radius:5px; 
	border-bottom-left-radius:5px; 
	color: #fff; 
	height: auto; 
	width: auto; 
	margin-left:0px;
	box-shadow: 0px 5px 5px #333333;
}

#mainmenu ul li ul li a 
{ 
	color: #fff; 
	padding: 4px 14px; 
	display: block; 
	width: auto;
}

#mainmenu ul li ul li.active a, #mainmenu ul li ul li a:hover 
{ 
	color: white; 
}

#mainmenu ul li ul li 
{ 
	clear: left;
}

/*Menu Superior Derecho*/
#mainmenu2
{
	background-color:#F0F0F0;
	height:50px;
	float:right;
}

#mainmenu2 ul
{
	padding:10px 0px 0px 0px;
	margin-left:100px;
	list-style: none; 
	position: relative;
	height: 26px;
	margin: 0 0 0 0;
}

#mainmenu2 ul li
{
	display: block; 
	float: right; 
	overflow: visible;
	vertical-align:middle;
}

#mainmenu2 ul li a
{
	color:#202020;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
	float: right; 
	display: block;
}

/*Menu superior izquierdo (Log-In)*/
#mainmenu3
{
	background-image:url(logo_2.png);
	background-color:#F0F0F0;
	margin-left:5px;
	height:50px;
	float:left;
	background-repeat: no-repeat;
}
#mainmenu3 ul
{
	padding:10px 0px 0px 110px;
	margin-left:100px;
	list-style: none; 
	position: relative;
	height: 26px;
	margin: 0 0 0 0;
}

#mainmenu3 ul li
{
	display: block; 
	float: left; 
	overflow: visible;
	vertical-align:middle;
}
#mainmenu3 ul li a
{
	color:#202020;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
	float: left; 
}

#clear{
	clear:both;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #671414;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 25px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.portada_libro{
	padding: 2px;
	float: left;
	margin: 8px;
	border: 1px solid;
	max-width: 15%;
}

#datos_libro{
	padding: 10px;
	margin: 10px;
	max-width: 65%;
	font-size: 13px;
	text-align: left;
	float: center;
	font-weight:bold;
}

#autores_libro{
	padding: 10px;
	width: 70%;
	float: left;
}

#resumen_libro{
	padding: 10px;
	float: right;
	max-width: 70%;
	border: 1px solid;
	font-size: 14px;
	text-align: left;
	text-align : justify;
}

#precio_libro{
	padding: 10px;
	float: right;
	max-width: 20%;
	text-align: right;
	font-size: 20px;
	font-weight:bold;
}

#busqueda_libros{
	float: center; 
	max-width: 60%;
	margin: 20px auto 10px auto;
}

#bloque_comprar{
	float: right;
}

#formulario_imagen{
	float: left;
	width: 100%;
	margin: 10px;
}

.flash_imagen{
	padding: 10px;
	max-width: 15%;
}

.vista_carrito{
	float: right;
	padding: 5px;
	max-width: 20%;
	text-align: center; 
	font-size: 14px;
}

.Totales_Carrito{
	float: right;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #671414;
}